In [22]:
import pandas as pd

In [3]:
# Read in the data
dfTrees=pd.read_csv('Public_Owned_Trees.csv')
dfHomes=pd.read_excel('taxdata.xlsx')
print(dfHomes.head())

   Parcel Number           Map Routing         Site Address  X-Coordinate  \
0  010-000001-00  010-H001     -071-00  872 - 874 SUMMIT ST  1.828201e+06
1  010-000001-00  010-H001     -071-00  872 - 874 SUMMIT ST  1.828201e+06
2  010-000001-00  010-H001     -071-00  872 - 874 SUMMIT ST  1.828201e+06
3  010-000002-00  010-R044     -094-00     86 W PACEMONT RD  1.823726e+06
4  010-000002-00  010-R044     -094-00     86 W PACEMONT RD  1.823726e+06

   Y-Coordinate  Mkt Value-Total  Base Mkt Value-Land  Sale Price  \
0  721773.86735           273600              11300.0     22000.0
1  721773.86735           273600              11300.0         0.0
2  721773.86735           273600              11300.0         0.0
3  738685.39930           181700              77200.0     35000.0
4  738685.39930           181700              77200.0     45000.0

  Building Type
0      Dwelling
1      Dwelling
2      Dwelling
3      Dwelling
4      Dwelling

In [14]:
# Define a function to split the address into number and street name
def split_address(df, address_col):
    df['Number'], df['Street'] = df[address_col].str.split(' ', 1).str
    df['Number'] = pd.to_numeric(df['Number'], errors='coerce')
    return df

In [16]:
# Remove rows where 'Sale Price' is 0 or more than 600000
dfHomes= dfHomes[(dfHomes['Sale Price'] > 0) & (dfHomes['Sale Price'] < 600000)]
cbus_homes = split_address(cbus_homes, 'Site Address')

# Save the processed dataframe to a new CSV file
dfHomes.to_csv('cbusHomes.csv')

dfHomes.head()

,Parcel Number,Map Routing,Site Address,X-Coordinate,Y-Coordinate,Mkt Value-Total,Base Mkt Value-Land,Sale Price,Building Type
0,010-000001-00,010-H001 -071-00,872 - 874 SUMMIT ST,1.828201e+06,721773.86735,273600,11300.0,22000.0,Dwelling
3,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,35000.0,Dwelling
4,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,45000.0,Dwelling
8,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,138000.0,Dwelling
9,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,320000.0,Dwelling

remove STR_SUF_DIR	HEIGHT LIFE_STAGE1
RETIRED>1972
PLANTING_DATE<2013

In [18]:
#remove columns STR_SUF_DIR,	HEIGHT, LIFE_STAGE1, and Change format of Retired and Planted from 1970/01/01 00:00:00+00 to 1970
#filter Retired after 1972 and planting date after 2013

dfTrees=pd.read_csv('Public_Owned_Trees.csv')

dfTrees=dfTrees.drop(columns=['STR_SUF_DIR', 'HEIGHT', 'LIFE_STAGE1'])
dfTrees['PLANTING_DATE']=dfTrees['PLANTING_DATE'].str[:4]
dfTrees['RETIRED']=dfTrees['RETIRED'].str[:4]
dfTrees=dfTrees[dfTrees['PLANTING_DATE']>'2013']
dfTrees=dfTrees[dfTrees['RETIRED']>'1972']
#cocatinate ADDR_NUM		STR_NAME	STR_TYPE
#save dfTrees as cbusTrees.csv

In [23]:

cbus_trees=pd.read_csv('cbusTrees.csv')
cbus_homes=pd.read_csv('cbusHomes_processed.csv')

In [26]:
cbus_homes.head()

,Unnamed: 0.1,Unnamed: 0,Parcel Number,Map Routing,Site Address,X-Coordinate,Y-Coordinate,Mkt Value-Total,Base Mkt Value-Land,Sale Price,Building Type,Number,Street
0,0,0,010-000001-00,010-H001 -071-00,872 - 874 SUMMIT ST,1.828201e+06,721773.86735,273600,11300.0,22000.0,Dwelling,872.0,- 874 SUMMIT ST
1,1,3,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,35000.0,Dwelling,86.0,W PACEMONT RD
2,2,4,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,45000.0,Dwelling,86.0,W PACEMONT RD
3,3,8,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,138000.0,Dwelling,86.0,W PACEMONT RD
4,4,9,010-000002-00,010-R044 -094-00,86 W PACEMONT RD,1.823726e+06,738685.39930,181700,77200.0,320000.0,Dwelling,86.0,W PACEMONT RD

In [27]:
cbus_trees.head()

,Unnamed: 0,X,Y,OBJECTID,SITE_CLASS,ADDRESS,ZIP,DIAM_BREAST_HEIGHT,MAINTENANCE,PLANTING_DATE,INSPECTION_DATE,RETIRED,CONDITION1,PLANNING_AREA,PARK,SP_CODE,ADDR_NUM,STR_PRE_DIR,STR_NAME,STR_TYPE
0,26347,-82.994503,39.938808,63613,1.0,50 MITHOFF ST,43206.0,6.0,6.0,2016,2017/06/27 00:00:00+00,2018,1.0,22A,NaN,PYCA,50.0,NaN,MITHOFF,ST
1,42223,-82.975339,40.122017,109402,1.0,1551 BUCKSHOT CT,43085.0,2.0,5.0,2014,2015/08/09 00:00:00+00,2015,0.0,03B,NaN,TIAMRE,1551.0,NaN,BUCKSHOT,CT
2,98752,-82.951688,39.995288,193124,1.0,1334 BROOKCLIFF AVE,43219.0,2.0,5.0,2014,2014/08/18 00:00:00+00,2014,0.0,14B,NaN,SYREIV,1334.0,NaN,BROOKCLIFF,AVE
3,99344,-83.017490,40.072428,194864,1.0,46 CHARLESTON AVE,43214.0,2.0,5.0,2014,2014/09/16 00:00:00+00,2014,0.0,10A,NaN,ACCAMG,46.0,NaN,CHARLESTON,AVE
4,105576,-82.977736,39.998826,205942,1.0,1100 E 15TH AVE,43211.0,8.0,5.0,2014,2012/10/17 00:00:00+00,2012,1.0,14A,NaN,ULXFR,1100.0,E,15TH,AVE